/* font import */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* bouncing loader animation */

@layer utilities {
    .animation-delay-200 {
        animation-delay: 0.2s;
    }

    .animation-delay-400 {
        animation-delay: 0.4s;
    }
}

.circle {
    @apply w-4 h-4 my-12 mx-1 bg-[#3C1450] rounded-full;
}

/* end of bouncing loader animation */


* {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
    /* Disable right-clicking */
    /* user-drag: none; */
}

::-webkit-scrollbar {
    display: none;
}





/* Made with 💙 by Stephen Adeniji
https://stephen-adeniji.netlify.app/ */